{% if recipes.has_other_pages %}
    <div class="container pagination">
        <div class="pagination-content">
            {% if paginator_range.first_page_out_of_range %}
                <a href="?page=1" class="page-link page-item">1</a>
                <span class="page=item">...</span>
            {% endif %}
            {% for page in paginator_range.pagination %}
                <a href="?page={{ page }}" class="page-link page-item"> {{ page }}</a>
            {% endfor %}
            {% if paginator_range.last_page_out_of_range %}
                <span class="page=item">...</span>
                <a href="?page={{ paginator_range.total_pages}}" class="page-link page-item">{{ paginator_range.total_pages}}</a>
            {% endif %}
        </div>
    </div>
{% endif %}